<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Work 02</h1>
<h6>Data Warehousing 1-68</h6>
<div
x-data="{ count: 0 }"
x-init="(() => {
const ws = new WebSocket('ws://' + window.location.host + '/ws/events/');
ws.onmessage = event => {
const data = JSON.parse(event.data);
count = data.count;
};
})()"
>
<p>จำนวนเหตุการณ์ล่าสุด: <span x-text="count">0</span></p>
</div>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
<script src="https://unpkg.com/htmx.org@1.9.2"></script>
</body>
</html>